@use "./global/global-rules" as *;
@use "./global/mixins" as *;
@use "./global/variables" as *;
@use "../pages/Admin/Admin";
@use "../pages/Cart/Cart";
@use "../pages/Home/Home";
@use "../pages/Home/Slider";
@use "../pages/OrdersHistory/Orders";
@use "../pages/ContactUs/Contact";
@use "../pages/Login/form";
@use "../components/Header/Header";
@use "../components/Footer/Footer";
@use "./../components/GeneralComponents/Loader";
@use "../components/GeneralComponents/GeneralComponents";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;500;600;700&display=swap");
body {
  background-color: #eee;
  font-family: "Raleway", sans-serif !important;
}
.custom-container {
  width: 90vw;
  margin: 0 auto;
  min-height: 50vh;
}
a {
  color: $black-color !important;
  text-decoration: none !important;
  &.active,
  &.submit-btn {
    &:hover {
      color: $white-color !important;
    }
  }
  &:hover {
    color: $text-color !important;
  }
}
.submit-btn {
  @include border-radius-10px;
  background-color: $text-color !important;
  color: $white-color !important;
}

#loader {
  position: relative;
  z-index: 111;
}
