$background-color: rgb(215, 244, 236);
$white-color: #fff;
$white-color-varient: rgb(241, 233, 233, 0.8);
$dim-white-color: rgba(2, 24, 17, 0.6);
$black-color: #000;
$main-color: rgb(63, 152, 148);
$main-color-variant: rgba(63, 152, 148, 0.7);
$sec-color: rgb(50, 237, 193);
$light-color: rgb(140, 235, 238);
$container-width-lg: 75%;
$container-width-md: 70%;
$container-width-sm: 80%;
$container-width-xs: 100%;
$text-color: rgba(7, 133, 99, 0.933);
$text-bcg: rgba(219, 227, 226, 0.858);
