/*
Logo styles.*/
@use "../../sass/global/mixins" as *;
@use "../../sass/global/variables" as *;

.logo {
  width: 200px;
  height: 100px;
  @include flex-center;
  h1 {
    flex: 1;
    font-size: 20px;
  }
  img {
    flex: 1;
    width: 100px;
    height: 100px;
  }
}
