@use "../../sass/global/mixins" as *;
@use "../../sass/global/variables" as *;
/*
Footer Links Styles: The First Three Links*/
.social {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  @include myMediaQueries(small) {
    gap: 5px;
  }
  i {
    font-size: 40px;
    a {
      color: $black-color !important;
      @include transition-(0.3s);
      &:hover {
        color: $text-color !important;
        cursor: pointer;
      }
    }
  }
}
