@use "../../sass/global/mixins" as *;
@use "../../sass/global/variables" as *;
/*
Footer Links Styles*/
.social {
  display: flex;
  gap: 10px;
  justify-content: end;
  @include myMediaQueries(small) {
    gap: 5px;
  }
  svg {
    font-size: 40px;
    a {
      @include transition-(0.3s);
      color: $black-color !important;
      &:hover {
        color: $text-color;
        cursor: pointer;
      }
    }
  }
}
